:root {
    --gold-primary: #E3D6BB;
    --gold-light: #E3D6BB30;
    --white: #ffffff;
    --black: #000000;
    --light-gray: #828282;
    --lighter-gray: #E5E5E5;
    --dark-gray: #443D2F;
    --light-grey: #C4C4C4;
    --dark-input: #222222;
    --font-main: 'Playfair Display', serif;
    --font-secondary: 'Quattrocento', serif;
}

html { scroll-behavior: smooth; }

body {
    background: #000000;
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    color: var(--gold-primary);
}

body * { transition: .3s; }

h1 {
    font-size: 3.2em;
    font-weight: 800;
    margin-bottom: 20px;
}

h1.page-heading {
    margin-bottom: 100px;
}

h3 {
    font-family: var(--font-secondary);
    color: var(--white);
    text-transform: uppercase;
    font-size: .9em;
    margin-bottom: 50px;
}

ul { list-style: none; }

/* Card links */
.item-card-link { text-decoration: none; }

/* Background image */
.bg-image {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    transition: 3s !important;
}

/* Buttons */
.button {
    padding: 15px 28px;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-family: var(--font-secondary);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.button i { margin-left: 10px; }

.button-gold {
    background: var(--gold-primary);
    color: var(--black);
}
.button-gold:hover {
    background: var(--white);
}

.button-ghost {
    background: none;
    border: 1px solid #ffffff60;
    color: var(--gold-primary);
}
.button-ghost:hover {
    background: var(--gold-light);
}

.button-dark {
    color: var(--gold-primary);
    background: var(--black);
}
.button-dark:hover {
    background: var(--dark-gray);
}

.button-ghost-dark {
    background: none;
    border: 1px solid var(--black);
    color: var(--black);
}
.button-ghost-dark:hover {
    background: var(--black);
    color: var(--gold-primary);
}

.input {
    padding: 18px;
    border: none;
    font-family: var(--font-secondary);
    font-size: 14px;
}

.input-dark {
    background: var(--dark-input);
    color: var(--gold-primary);
}

.input-dark:placeholder {
    color: var(--light-gray);
}

.input-dark:focus {
    outline: none;
    background: #333333;
}

.text-link {
    color: var(--gold-primary);
    text-decoration: none;
}
.text-link:hover {
    text-decoration: underline;
}

.container {
    width: 90vw;
    margin-left: 5vw;
}

/* Nav */
.nav-wrapper, .search-wrapper {
    height: 20vh;
    position: sticky;
    top: 0;
    z-index: 9;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(20px);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    width: 100%;
    top: 0;
}

.header-nav .brand {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: none;
}

img.logo {
    height: 50px;
}
img.logo:hover { opacity: .6; }

.header-nav .logo-sm {
    display: none
}

.header-nav i { color: var(--white); }

.header-nav ul.nav-links {
    display: flex;
}
ul.nav-links li { margin-right: 15px; }
ul.nav-links li a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
}
.header-nav ul.nav-links li a:hover { color: var(--gold-primary); }

.header-nav .search-and-cart {
    display: flex;
    align-items: center;
}

.header-nav .search-and-cart .search {
    margin-right: 25px;
    cursor: pointer;
    font-size: 1.2em;
}

.header-nav .cart-btn { position: relative; cursor: pointer; }

.header-nav .cart-btn i { font-size: 1.5em; }

.header-nav .cart-btn .item-counter {
    position: absolute;
    padding: 1px 4px;
    font-size: .7em;
    font-weight: bolder;
    bottom: 0;
    right: -2px;
    border-radius: 20px;
    background: var(--gold-primary);
    color: var(--black);
    font-family: var(--font-secondary);
}

.mobile-menu-wrapper {
    height: 0;
    display: none;
    visibility: hidden;
}


/* Search bar */
.search-wrapper {
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.search-wrapper .search-bar {
    position: relative;
    margin-right: 20px;
}

.search-wrapper .search-bar .search-button {
    position: absolute;
    right: 18px;
    top: 15px;
    cursor: pointer;
}
.search-wrapper .search-bar .search-button:hover { color: var(--gold-primary); }

.search-wrapper input {
    min-width: 40vw;
    padding-right: 40px;
}

.search-wrapper .close-search {
    font-size: 1.5em;
    cursor: pointer;
    color: var(--gold-primary);
}

/* Hero */
section.hero {
    height: 80vh;
}

.hero-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    max-width: 520px;
}

.hero p {
    margin-bottom: 50px;
    font-family: var(--font-secondary);
    color: var(--white);
    font-size: 16px;
    line-height: 1.5em;
}

.hero .hero-image { height: 80vh; }
.hero .hero-image img { max-height: 120%; }

.hero .button-gold {
    margin-right: 15px;
    margin-bottom: 10px;
}



/* Categories */
section.categories {
    margin-top: 220px;
    margin-bottom: 220px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

.category-wrapper{
    height: 180px;
    overflow: hidden;
}
.category {
    height: 100%;
    padding: 0;
    cursor: pointer;
}
.category:hover {
    transform: scale(1.1);
}

.category .category-overlay {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category h5 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.5em;
}



/* Product featured */
.featured-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.product {
    cursor: pointer;
    margin-bottom: 20px;
}

.product-card {
    height: 360px;
    position: relative;
}

.product-card .price {
    position: absolute;
    top: -20px;
    right: 15px;
    z-index: 1;
    color: var(--gold-primary);
}

.product-card .price .line {
    height: 1px;
    background: #E3D6BB60;
    width: 70%;
    margin-left: 15%;
}

.product-card .price .price-container {
    background: var(--black);
    padding: 10px 20px;
}
.product-card .price .price-container p {
    margin: 0;
    font-family: var(--font-secondary);
    font-size: .9em;
    font-weight: bold;
}

.product-image-wrapper {
    height: 100%;
    overflow: hidden;
}

.product-image {
    height: 100%;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-image .product-overlay {
    background: rgba(0, 0, 0, .3);
    height: 100%;
}

.product-card button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.product h4.product-name {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    margin-top: 30px;
    color: var(--white);
}



/* Footer */
footer {
    background: var(--gold-primary);
    padding: 40px 0;
    font-family: var(--font-secondary);
    margin-top: 220px;
}

footer .footer-flex {
    display: flex;
    justify-content: space-between;
}

footer li:hover {
    transform: scale(1.05);
}

footer .contact-links li {
    margin-bottom: 15px;
}

footer .contact-links li a {
    font-size: 15px;
    text-decoration: none;
    color: var(--black);
}

footer .contact-links li a i {
    color: var(--light-gray);
    margin-right: 10px;
}

.social-links {
    display: flex;
}

.social-links li {
    margin-left: 20px;
}
.social-links li a {
    text-decoration: none;
    color: var(--black);
}

footer .gray-line {
    height: 1px;
    background: var(--lighter-gray);
    margin: 20px 0;
}

footer p.copyright {
    color: var(--light-gray);
    margin: 0;
    font-size: 14px;
}



/* Cart */
.cart-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--gold-primary);
    border-left: 1px solid var(--light-gray);
    padding: 30px;
    color: var(--black);
    font-family: var(--font-secondary);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .09);
    height: 100vh;
    max-width: 300px;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-header .close-cart {
    font-size: 1.5em;
    cursor: pointer;
}

.cart-wrapper h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

.cart-wrapper .gray-line {
    height: .1px;
    background: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cart-wrapper .empty-cart {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.cart-wrapper .empty-cart img { max-width: 70px; }

.cart-wrapper .cart-item-list {
    height: 55vh;
    overflow-y: scroll;
}

.cart-wrapper .cart-item-list::-webkit-scrollbar {
    width: 10px;
    margin-left: 10px;
}

.cart-wrapper .cart-item-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px var(--light-gray);
    box-shadow: inset 0 0 4px var(--light-gray);
    border-radius: 20px;
}
.cart-wrapper .cart-item-list::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px var(--dark-gray);
    box-shadow: inset 0 0 2px var(--dark-gray);
    background: rgb(214, 202, 176);
    border-radius: 20px;
}

.cart-item { margin-bottom: 25px; padding-right: 15px; }

.cart-item .cart-item-flex {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.cart-item .cart-image-wrapper {
    position: relative;
    margin-right: 20px;
    height: inherit;
    width: inherit;
}

.cart-item .cart-image-wrapper .cart-image-line {
    position: absolute;
    width: 80px;
    height: 100px;
    top: 5px;
    left: 5px;
    z-index: -1;
    background: #F2ECE0;
}

.cart-item .cart-image {
    width: 80px;
    height: 100px;
}
.cart-item .cart-image:hover {
    transform: scale(1.02);
}

.cart-item .cart-item-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: var(--font-main);
    font-weight: normal;
    color: var(--black);
}
.cart-item .cart-item-name:hover { color: #33333390 }

.cart-item .item-properties { 
    display: flex; 
    margin-bottom: 15px; 
}
.cart-item .item-property { 
    font-size: .85em; 
    margin-right: 15px;
    color: var(--dark-gray); 
}

.cart-item .item-property .item-value { font-weight: bolder; }

.cart-item .cart-price-actions { display: flex; }

.cart-item .cart-item-price {
    font-size: .9em;
    font-weight: bold;
    color: var(--dark-gray);
}

.cart-item .item-qty {
    font-size: .8em;
}

.cart-item .actions {
    margin-left: 30px;
}

.cart-item .actions .cart-action {
    padding: 3px 7px;
    font-weight: bold;
    cursor: pointer;
}

.cart-item .actions .cart-action:hover, .cart-item .actions .remove-item:hover {
    opacity: .4;
}

.cart-item .actions .minus {
    background: #ffffff40;
}
.cart-item .actions .plus {
    background: var(--black);
    color: var(--gold-primary);
}
.cart-item .actions .remove-item {
    margin-left: 15px;
    cursor: pointer;
}

.cart-wrapper .cart-total {
    margin-top: 15px;
    margin-bottom: 10px;
}

.cart-total .total-price {
    font-weight: bolder;
}

.cart-total .total-text {
    font-size: .7em;
}

.cart-wrapper .proceed :is(a, button) {
    width: 100%;
    margin-bottom: 10px;
}



/* Product details */
.product-details-flex {
    display: flex;
    margin-top: 60px;
}

.gallery-wrapper {
    width: 45%;
    margin-right: 100px;
}

.gallery-wrapper .main-image { position: relative; margin-bottom: 20px; }

.gallery-wrapper .main-image .main-image-shadow {
    position: absolute;
    background: #222222;
    width: 100%;
    height: 100%;
    top: -15px;
    right: -15px;
    z-index: -1;
}

.gallery-wrapper .main-image-container { height: 440px; width: 100%; }

.gallery-wrapper .main-image-container img { 
    object-fit: cover; 
    object-position: center;
    width: 100%; 
    height: 100%;
}

.gallery-wrapper .thumbnails {
    display: flex;
    align-items: center;
}

.gallery-wrapper .thumbnail {
    height: 70px;
    width: 70px;
    padding: 4px;
    margin-right: 10px;
    opacity: .6;
    cursor: pointer;
}
.gallery-wrapper .thumbnail.active, .gallery-wrapper .thumbnail:hover {
    border: 1px solid var(--gold-primary);
    opacity: 1;
}

.gallery-wrapper .thumbnail img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}



.product-info .product-name {
    color: var(--white);
    font-size: 2em;
}

.product-info .product-price {
    font-family: var(--font-secondary);
    font-size: 1.2em;
    margin-bottom: 40px;
}

.product-info .info {
    font-family: var(--font-secondary);
    font-size: .9em;
    margin-bottom: 30px;
}

.product-info .info-heading {
    color: white;
}

.product-info .info-flex { display: flex; }

.product-info .info .size, .product-info .info .color {
    cursor: pointer;
    padding: 15px;
    background: #222222;
    margin-right: 10px;
    opacity: .6;
}
.product-info .info .active {
    border: 1px solid #E3D6BB;
    opacity: 1;
}

.product-info .info .color { font-size: .8em; text-transform: uppercase; }

.product-info .quantity-controls span {
    margin-right: 20px;
}

.product-info .quantity-controls .action {
    padding: 4px 10px;
    cursor: pointer;
    background: #111111;
}
.product-info .quantity-controls .action:hover { background: var(--dark-input); }

.product-info .quantity-controls .quantity {
    background: #443D2F;
    padding: 4px 15px 8px 15px;
}

.product-info button { width: 100%; margin-top: 20px; }



/* Search results */
.search-results-wrapper {
    position: fixed;
    top: 20vh;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    z-index: 10;
    min-height: 80vh;
}

.search-results-wrapper .search-main {
    width: 50%;
    margin-left: 25%;
    background: #111111;
    height: 77vh;
    overflow: hidden;
}

.search-results-wrapper .search-main .search-container {
    padding: 30px;
}

.search-results-wrapper .search-results-heading {
    color: #828282;
    margin-top: 0;
    font-family: var(--font-secondary);
    font-size: .9em;
    margin-bottom: 30px;
}

.search-results-wrapper .search-results-heading .search-keyword {
    color: var(--gold-primary);
}

.search-results-wrapper .search-categories-flex { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.search-results-wrapper .search-category {
    background: var(--black);
    color: var(--white);
    padding: 10px 25px;
    border: 1px solid #443D2F;
    cursor: pointer;
    text-align: center;
}
.search-results-wrapper .search-category:hover { 
    background: var(--dark-input); 
}

.search-results-wrapper .search-divider {
    background: #2c2c2c;
    height: 1px;
    width: 100%;
}

.search-results-wrapper .search-products {
    overflow-y: scroll;
    padding-right: 30px;
    height: 250px;
}

.search-results-wrapper .search-products::-webkit-scrollbar {
    width: 10px;
    margin-left: 10px;
}

.search-results-wrapper .search-products::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px var(--light-gray);
    box-shadow: inset 0 0 4px var(--light-gray);
    border-radius: 20px;
}
.search-results-wrapper .search-products::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px var(--dark-gray);
    box-shadow: inset 0 0 2px var(--dark-gray);
    background: rgb(214, 202, 176);
    border-radius: 20px;
}

.search-results-wrapper .search-product {
    background: var(--black);
    padding: 10px;
    display: flex;
    width: inherit;
    margin-bottom: 20px;
    align-items: center;
    font-family: var(--font-secondary);
}
.search-results-wrapper .search-product:hover {
    background: var(--dark-input);
}

.search-results-wrapper .search-product .search-product-image {
    height: 90px;
    width: 120px;
    margin-right: 20px;
    opacity: .7;
}

.search-product .search-product-name { color: var(--white); line-height: 1.6em; }

.search-product .search-product-price { color: var(--gold-primary); }

.search-results-wrapper .search-not-found {
    text-align: center;
    font-family: var(--font-secondary);
    color: #828282;
    line-height: 30px;
}

.search-results-wrapper .search-not-found .keyword {
    color: var(--gold-primary);
}

@media screen and (max-width: 768px){
    h1 { font-size: 2.5em; }

    /* Nav */
    .nav-wrapper {
        height: inherit;
    }

    .header-nav {
        padding: 10px 0;
    }

    .menu-btn {
        display: block;
        margin-right: 20px;
        height: 20px;
        cursor: pointer;
    }

    .header-nav .logo {
        height: 35px;
        display: none;
    }
    .header-nav .logo-sm {
        display: block;
        height: 35px;
    }

    .header-nav ul.nav-links {
        display: none;
    }

    /* Mobile menu */
    .mobile-menu-wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        display: none;
        visibility: visible;
        background: #28241C80;
    }

    .menu-safe-area {
        float: right;
        width: 10%;
        height: 100%;
    }

    .mobile-menu {
        height: 100%;
        width: 90%;
        background: #28241C95;
        backdrop-filter: blur(40px);
        -moz-backdrop-filter: blur(40px);
        float: left;
    }
    .mobile-menu-flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-menu-flex > div {
        margin-left: 5vw;
    }
    
    .mobile-menu .top {
        margin-top: 20px;
    }
    
    .mobile-menu .close {
        margin-bottom: 20px;
    }
    
    
    .mobile-menu .close-menu {
        font-size: 2em;
        cursor: pointer;
    }
    
    .mobile-menu .nav-links {
        padding: 0;
        margin-left: 5vw;
    }

    .mobile-menu .nav-links li {
        margin-bottom: 30px;
    }

    .mobile-menu .nav-links li a {
        font-size: 1em;
    }

    .mobile-menu .social-links {
        margin-bottom: 20px;
        padding: 0;
        margin-left: 5vw;
    }
    
    .mobile-menu .social-links li a {
        color: #E3D6BB;
    }

        /* Search bar */
    .search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        padding: 20px;
    }

    .search-wrapper .search-bar .search-button {
        position: absolute;
        right: -38px;
        top: 15px;
        cursor: pointer;
    }
    .search-wrapper .search-bar .search-button:hover { color: var(--gold-primary); }

    .search-wrapper input {
        min-width: 50vw;
        padding-right: 34px;
    }

    .search-wrapper .close-search {
        font-size: 1.5em;
        cursor: pointer;
        color: var(--gold-primary);
    }


    /* Hero */
    section.hero {
        height: inherit;
    }

    .hero-flex {
        flex-direction: column;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 50px;
        margin-top: 40px;
    }

    .hero p {
        margin-bottom: 30px;
        font-size: 14px;
    }

    .hero .hero-image { height: inherit; width: 100%; }
    .hero .hero-image img { 
        max-height: inherit;
        width: 100vw;
        margin-left: -5vw;
    }

    /* Categories */
    section.categories {
        margin-top: 180px;
        margin-bottom: 180px;
    }

    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .category h5 {
        font-size: 1.2em;
    }

    /* Product featured */
    .featured-grid {
        grid-template-columns: repeat(1, 1fr);
    }


    /* Footer */
    footer {
        margin-top: 200px;
    }
    
    footer .footer-flex {
        flex-direction: column;
    }

    footer .contact-links {
        padding: 0;
        margin-top: 30px;
    }

    footer .social-links {
        padding: 0;
    }

    .social-links li {
        margin-right: 20px;
        margin-left: 0;
    }



    /* Cart */
    .cart-wrapper {
        width: 80vw;
        padding: 20px;
    }

    .cart-wrapper .cart-item-list {
        height: 60vh;
        overflow-y: scroll;
    }

    .cart-item .cart-image-wrapper .cart-image-line {
        width: 70px;
        height: 90px;
    }
    
    .cart-item .cart-image {
        width: 70px;
        height: 90px;
    }

    .cart-item .actions {
        margin-left: 20px;
    }
}

.auth-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.auth-content {
    padding: 40px 100px;
}

.auth-content .logo {
    height: 40px;
}

.auth-content h1 {
    font-size: 1.8em;
    margin-top: 50px;
}

.auth-content p {
    font-size: .8em;
    font-family: var(--font-secondary);
    color: var(--light-grey);
    margin-bottom: 30px;
}


.auth-content form input {
    width: 90%;
    padding: 18px 5%;
    margin-bottom: 15px;
}
.auth-content form .button {
    width: 100%;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px){
    .auth-grid {
        display: block;
    }

    .auth-bg-image {
        display: none;
    }

    .auth-content {
        padding: 30px 5vw;
    }

    .input {
        width: 100%;
    }
}

.checkout-flex {
    display: flex;
    justify-content: space-between;
}

.delivery {
    width: 60%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-right: 5%;
}

.delivery h3 {
    color: var(--light-grey);
    text-transform: unset;
    margin-bottom: 30px;
}

.delivery h3 i {
    margin-right: 10px;
}

.delivery .form-inputs .input:nth-child(1) { grid-area: name; }
.delivery .form-inputs .input:nth-child(2) { grid-area: phone; }
.delivery .form-inputs .input:nth-child(3) { grid-area: address; }
.delivery .form-inputs .input:nth-child(4) { grid-area: city; }
.delivery .form-inputs .input:nth-child(5) { grid-area: country; }

.delivery .form-inputs {
    display: grid;
    grid-template-areas: 
        'name phone'
        'address address'
        'city country';
    grid-gap: 20px;
}



.cart {
    background: var(--dark-input);
    padding: 30px;
    font-family: var(--font-secondary);
    z-index: 1;
}

.cart h5 {
    font-family: var(--font-secondary);
    color: var(--light-gray);
    margin-top: 0;
} 

.cart-item { padding-right: 0 }

.cart .cart-item-flex {
    justify-content: space-between;
}

.cart .cart-item .cart-image-wrapper .cart-image-line {
    background: var(--black);
    z-index: -1;
}

.cart .cart-item .cart-item-name {
    color: var(--white);
    font-family: var(--font-main);
}

.cart .cart-item .item-property {
    color: var(--light-gray);
}

.cart .cart-item .cart-item-price {
    color: var(--light-grey);
}

.cart .cart-item .plus {
    background: var(--gold-primary);
    color: var(--black);
}

.cart .total-proceed {
    margin-top: 40px;
}

.cart .cart-total .total-price {
    font-size: 2em;
    color: var(--white);
    margin-right: 10px;
}



.checkout .gray-line {
    background: var(--dark-input);
    height: 1px;
    margin: 20px 0;
}

.checkout .confirm-order p {
    font-size: .8em;
    font-family: var(--font-secondary);
    color: var(--light-grey);
    margin-bottom: 20px;
    line-height: 20px;
    max-width: 400px;
}

.checkout .confirm-order p .total {
    font-weight: bolder;
    color: var(--gold-primary);
}

.checkout .confirm-order p i { margin-right: 10px; }

.checkout .confirm-order button {
    width: 30%;
}

@media screen and (max-width: 768px){
    .checkout-flex {
        flex-direction: column;
    }
    .delivery {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .delivery .form-inputs {
        display: block;
    }
    .delivery .form-inputs > .input {
        width: 90%;
        padding: 18px 5%;
        margin-bottom: 15px;
    }

    .cart {
        padding: 15px 10px;
    }

    .cart .cart-item .actions .remove-item {
        margin-left: 7px;
    }

    .checkout .confirm-order button {
        width: 100%;
    }



    /* Product details */
    .product-details-flex {
        flex-direction: column;
    }

    .gallery-wrapper {
        width: 100%;
        margin-right: 0;
    }

    .gallery-wrapper .main-image-container { height: 320px; }

    .gallery-wrapper .thumbnail {
        height: 40px;
        width: 40px;
    }
    


    /* Search results */
    .search-results-wrapper {
        top: 12vh;
        min-height: 88vh;
    }

    .search-results-wrapper .search-main {
        width: 90%;
        margin-left: 5%;
        height: 82vh;
    }

    .search-results-wrapper .search-main .search-container {
        padding: 20px;
    }

    .search-results-wrapper .search-categories-flex { 
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .search-results-wrapper .search-products {
        padding-right: 20px;
        height: 400px;
    }

    .search-product .search-product-name { margin-top: 0; }

    .search-product .search-product-price { margin-bottom: 0; }
}